*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #37A7FA;
}
header{
    background-color: white;
}

header .container{
    margin-left: 20px;
    line-height: 50px;
    vertical-align: middle;
}

.logo{
    line-height: 70px;
    vertical-align: middle;
}

#logo-text{
    font-weight: 900;
    font-size: 40px;
}

main .container{
    margin: 50px 15%;
    border-radius: 10px;
    background-color: white;
}

nav{
    border-bottom: 3px solid #F6F8F9;
    padding:10px 50px 10px;
}

.button{
    margin: 5px;
    padding:8px 16px;
    border: none;
    border-radius: 8px;
}

#add-task{
    background-color: #37A7FA;
}

#add-section{
    background-color: white;
    border: 1px solid lightgray;
}

.categories-container{
    margin:30px 50px;
    padding-bottom:1px;
}

.categories-container section{
    margin-bottom:40px;
}

.categories-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.categories-title .check-mark::before{
    content: '\2714';
}

section .checklist{
    margin-bottom:20px;
}

.list-element{
    margin-bottom:10px;
}

.checklist .mark::before{
    display:inline-block;
    text-align: center;
    width:16px;
    height:16px;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid;
}
.checked.mark::before{
    content: '\2713';
    color: #2BC0A6;
    border-color: #2BC0A6;
}

.unchecked.mark::before{
    content: '\2715';
    color: #FA2200;
    border-color: #FA2200;
}

.list-element .title{
    margin-left: 5px;
}

.label::after{
    display: inline-block;
    padding:5px 10px;
    border-radius: 20px;
    font-size: 10px;
    color: white;
}

.label.editorial::after{
    content: 'Editorial';
    background-color: #32A4E6;
}
.label.q1_goals::after{
    content: 'Q1 Goals';
    background-color: #AB5CE6;
}
.label.recruiting::after{
    content: 'Recruiting';
    background-color: #2CC6AB;
}
.label.mobile::after{
    content: 'Mobile';
    background-color: #FA9B00;
}
.label.website::after{
    content: 'Website';
    background-color: #EC4A9D;
}
.label.sales::after{
    content: 'Sales';
    background-color: #A3D114;
}