*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #37A7FA;
}

/* header */
header{
    background-color: white;
}

.header-container{
    padding: 10px 20px; 
}

#logo-img{
    vertical-align: middle;
}
#logo-text{
    font-weight: bolder;
    font-size: 40px;
    vertical-align: middle;
}

/* main */
main .container{
    margin: 50px 20%;
    color: #434851;
}

/* buttons */
.buttons-container{
    border-radius: 10px 10px 0 0;
    background-color: white;
    padding:10px 50px;
    margin-bottom: 5px;
}
.button{
    margin: 5px;
    padding:5px 15px;
    border: none;
    border-radius: 8px;
}
#add-task{
    background-color: #37A7FA;
}
#add-section{
    background-color: white;
    border: 1px solid lightgray;
}

/* checklist */
.checklist-container{
    background-color: white;
    padding-bottom:1px;
    border-radius: 0 0 10px 10px;
    padding:30px 50px;
}

.checklist-container ul{
    list-style: none;
}
.checklist li{
    margin: 10px 0;
}

.category-title{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 10px;
}

/* checkmark */
.check-mark::before{
    font-size: 18px;
    content: '\2714';
}
.checklist .mark::before{
    display:inline-block;
    text-align: center;
    width:16px;
    height:16px;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid;
}
.checked.mark::before{
    content: '\2713';
    color: #2BC0A6;
    border-color: #2BC0A6;
}
.unchecked.mark::before{
    content: '\2715';
    color: #FA2200;
    border-color: #FA2200;
}

/* label */
.label::after{
    display: inline-block;
    padding:5px 10px;
    border-radius: 20px;
    font-size: 10px;
    color: white;
}
.label.editorial::after{
    content: 'Editorial';
    background-color: #32A4E6;
}
.label.q1_goals::after{
    content: 'Q1 Goals';
    background-color: #AB5CE6;
}
.label.recruiting::after{
    content: 'Recruiting';
    background-color: #2CC6AB;
}
.label.mobile::after{
    content: 'Mobile';
    background-color: #FA9B00;
}
.label.website::after{
    content: 'Website';
    background-color: #EC4A9D;
}
.label.sales::after{
    content: 'Sales';
    background-color: #A3D114;
}
.label.boolean::after{
    content: '\2665';
    background-color: red;
}