*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #37A7FA;
}
header{
    background-color: white;
}

header .container{
    margin-left: 20px;
    line-height: 50px;
    vertical-align: middle;
}

.logo{
    line-height: 70px;
    vertical-align: middle;
}

#logo-text{
    font-weight: 800;
    font-size: 40px;
}

main .container{
    margin: 50px 15%;
    border-radius: 10px;
    background-color: white;
}

nav{
    border-bottom: 3px solid #F6F8F9;
    padding:15px 50px 10px;
}

.button{
    font-size: 16px;
    margin: 5px;
    padding:8px 16px;
    border: none;
    border-radius: 8px;
}

#add-task{
    background-color: #37A7FA;
}

#add-section{
    background-color: white;
    border: 1px solid lightgray;
}